
.navbar{
    color: #363636;
    font-family: 'Avernir','Arial';
    background: white ;
    z-index: 1
}
.pt-4 {
    padding-top: 1.5rem !important;
    width: 90%;
    left: 5%;
    display: flex;
}

.nav_logo{
    position: relative;
    width: 0;
    height: 6%;
    padding-bottom: 2%;
    padding-right: 8%;
    background: url(../img/logo.png) no-repeat scroll center;
    background-size: 100%;
}

@media (max-width: 768px){
    .nav_logo{
        width: 0;
        height: 6%;
        padding-bottom: 10%;
        padding-right: 20%;
        background: url(../img/logo.png) no-repeat scroll center;
        background-size: 100%;
    }

}

.navv{
    position: absolute;
    right: 5%; 
    display: flex; 

}
/*.nav .normal, .download{

    font-size: 0.92rem;
    padding: 6px 8px;
    top: -8px;
    position: relative;
}*/
.navv .download{
    padding: 6px 8px;
    top: -8px;
    position: relative;
    font-size: 0.82rem;
    color: #3c29e6;
    border: 2px solid #3c29e6;
    border-radius: 2px;
    cursor: pointer;
}
.navv .download:hover{
    color:white;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    border: 2px solid #3c29e6;
}
.navv li{
    list-style-type:none;
    cursor: pointer;
}
.view{
    position: relative;
    top: calc(3% + 36px);
/*    height: auto;*/
    width: 100%;
    height: calc(97% - 36px);
}

.view .content{
    width: 88%;
    height: 100%;
    position: relative;
    left: 7%;
    color:#363636;
}

.view .content .image{ 
    position: relative;
/*    top: 2%;*/
    width: 55%;
    /* height: 6%; */
    padding-bottom: 55%;
    /* padding-right: 50%; */
    background: url(../img/index_banner.png) no-repeat scroll center;
    background-size: 100%;
    right: 0;
    float: right;
}
.view .content .text{ 
    position: relative;
    top: 51%;
    width: 45%;
    /* padding-bottom: 55%; */
    float: left;
    height: auto;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media (max-width: 768px){
    .view .content .text{ 
        width: 100%;
        top:0;
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    .view .content .image{ 
        width: 100%;
        top:0;
        -moz-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        padding-bottom: 80%;
    }
}

h2 {
    position: relative;
    font-family: "Futura";
    color: #424242 !important;
}
.text .info{
    position: relative;
    margin-top: 6%;
    font-size: 0.9rem;
}
.btn_download{
    -webkit-appearance: none;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 0.9rem;
    margin-top: 10%;
}



.text-muted {
    margin-top: 3%; 
    color: #363636 !important;
}

.btn-lg{
    box-shadow: 0px 5px 20px rgba(89,66,235,.3);
    -webkit-appearance: none;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    margin-top: 10%;
    margin-right:48px;

}

#btn_upload{
    padding: 8px 30px;
    -webkit-appearance: none;
    background: none;
    color: #3b28e6;
    box-shadow:none;
    border:2px solid #3b28e6;
}

@media (max-width: 1260px){
    #btn_download{
        padding: 10px 14px;
        font-size: 14px;
    }

    #btn_upload{
        padding: 8px 10px;
        font-size:14px;
    }

}

@media (max-width: 768px){
    #btn_download{
        padding: 10px 10px;
        font-size:12px;

    }

    #btn_upload{
        padding: 8px 8px;
        font-size: 12px;
    }

}

.col-sm-6 .download{
    padding: 8px 16px;
    top: 1rem;
    position: relative;
    font-size: 0.82rem;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(89,66,235,.3);
    margin-bottom: 2rem;
}
/*.col-sm-6 .download:hover{
    color:white;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    border: 2px solid #3c29e6;
}*/

.text_footer{

    color: #BEC8CE !important

}

.horn{
    position: absolute;
    width: 86%;
    height: 76%;
    left: 7%;
  }
  .horn>div{
    width: 30px;
    height: 20px;
    position:absolute;
  }
  .horn .lt{
    border-top: 5px solid #aac6ff;
    border-left: 5px solid #aac6ff;
    left: -2px;
    top: -2px;
  }
  .horn .rt{
    border-top: 5px solid #aac6ff;
    border-right: 5px solid #aac6ff;
    right: -2px;
    top: -2px;
  }
  .horn .rb{
    border-bottom:5px solid #aac6ff;
    border-right: 5px solid #aac6ff;
    right: -2px;
    bottom: -2px;
  }
  .horn .lb{
    border-bottom:5px solid #aac6ff;
    border-left: 5px solid #aac6ff;
    left: -2px;
    bottom: -2px;
  }

.submission_page{
    z-index: 5;
    position: fixed;
    background: rgba(0,0,0,0.8);
    display: none;
}

.submission,.sec_upload{
    font-size: 150%;
    padding: 48px 0;
    position: relative;
    background: white;
    border:solid 2px #4242;
    text-align: center;
    left: 50%;
    -moz-transform: translateX(-50%);
     -webkit-transform: translateX(-50%); 
    transform: translateX(-50%);
    max-height: 100%;
    overflow-y: scroll;
    font-family: 'Avenir';
}
.submission{
    max-width: 580px;
    box-shadow: 0px 10px 26px rgba(173,183,203,.2);
    border:none;
}

.sec_upload{
    max-width: 1200px;
}
.submission h4,.sec_upload h4{
    color: #363636;
    font-family: "Futura";
    margin: 16px 0;

}

.input_my{
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 400px;
    width: calc(100% - 4em);
    vertical-align: top;
    text-align: left;
    color: #363636;
    font-size: 1rem;
}
.input{
    max-width: 400px;
    width: calc(100% - 4em);
}

.input_gender{
    display: inline-block;
    width: 40%;
    color: #9297a9;
    font-weight: bold;
    font-size: 60.25%;
    left:4px;
    top: 20px;
    position: relative;
    margin-bottom: 32px;
}
.choose_gender{
    font-size: 102%;
    margin-bottom: 16px;
}


.choose_gender label{
    margin-right: 32px;
}

.submission .label,.sec_upload .label{
    /* float: left; */
    color: red;
    top: 20px;
     display: none; 
    font-size: 1rem;
    position: relative;
    left: 90px;
    text-align: left;
    
}
.btn_cancel{
    background: url(../img/panel_delete_white.png) no-repeat scroll center;
    background-size: 100%;
    position: absolute;
    left: 3rem;
    top: 2rem;
    width: 2.4rem;
    height: 2.4rem;

}

@media (max-width: 600px){
    .submission .label,.sec_upload .label{
        left: 4em; 
    }

    .btn_cancel{
        left: 2rem;
        top: 1rem;
    }
   .construct{
        width:96%;
    }
}

.submission #btn_draw{
    text-align: center;
    font-size: 90%;
    color: white;
    border-radius: 2px;   
    max-width: 400px;
    width: calc(100% - 4em);
    height: 50px;
    line-height: 50px;
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);   
    margin: 24px 0px 16px 0px;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    cursor: pointer;  
}

h5 strong{
    color: #dbd7f7;
    font-size: 200%;
    font-family: 'Futura';
}

.team{
    color:black;
}

.team h5{
    margin-top: 16px;
}

.input a{
    color:#2595FF;
}

.extension{
    color:#363636;
    width: 90%;
    left: 5%;
    /*text-align: center;*/
}
.img_example{
    width: 65%;
    max-width: 600px;
    min-width: 200px;
    position: relative;
}

.img_ref{
    width: 60%;
    max-width: 700px;
     min-width: 360px;
}
.extension input[type="submit"]{
    -webkit-appearance: none;
    background: -webkit-linear-gradient(left, #7359f0 , #3b28e6);
    background: -o-linear-gradient(right, #7359f0 , #3b28e6);
    background: -moz-linear-gradient(right, #7359f0 , #3b28e6);
    background: linear-gradient(to right, #7359f0 , #3b28e6);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px 20px;
    font-size: 0.9rem;
    margin-top: 10%;
}

/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    /* background: #fafafa; */
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    margin-right: 16px;
    display: inline-flex;
    /* font-size: 1.2rem; */
    height: 40px;
}

.rel_up {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}

.upload{
    position: relative;
    /*border-top: solid 2px #4242;*/
    margin-top: 62px;
    padding: 2rem;
    text-align: center;

}

.extension form{
    position: relative;
    width: 60%;
    border-radius: 2px;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 48px;
    left:20%;
    /*box-shadow: 0px 5px 20px rgba(89,66,235,.2);*/
}

@media (max-width: 768px){
    .extension form{
        width: 90%;
        left:5%;
    }


    .upload{
        padding: 0rem;
    }


}
 

 .num_down{
    display: flex;
    margin-top: 16px;
 }

  .num_down img{
    width: 24px;
    height: 17px;
    margin-right:6px;
}

.stage-shelf{

     position: fixed;

}

.footer{
    margin:auto;
}

.citation{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

   














